section {
	width: 100%;
	min-height: calc(100vh - 75px);
	position: relative;
}

@keyframes scroll {
	0%   {bottom: 20px;}
	50%  {bottom: 25px;}
	100% {bottom: 20px;}
}

.s1 {
	min-height: 100vh;
	background: url('../img/section_1_back.jpg') center center / cover no-repeat;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 75px 30px 30px 30px;
	.slide {
		padding: 0 80px 70px 80px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			display: block;
			margin: 0 auto;
			height: 200px;
			width: auto;
			transform: scale(.5);
			opacity: 0;
			transition: all 1s ease-out;
		}
		.description {
			width: 540px;
			margin: 15px auto 35px;
			position: relative;
			font-family: "SegoeUIRegular", sans-serif;
			font-size: 18px;
			text-align: center;
			color: #fff;
			line-height: 22px;
			padding-top: 35px;
			transform: translateY(100px);
			opacity: 0;
			transition: all 1s ease-out .5s;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -80px;
				width: 160px;
				height: 1px;
				background: #fff;
			}
		}
		.btn {
			transform: translateY(50px);
			opacity: 0;
			transition: all 1s ease-out 1s;
		}
	}
	.slideNav {
		opacity: 0;
		transition: all 1s ease-out .7s;
	}
	.firstSectionSliderPrev, .firstSectionSliderNext {
		background: url("../img/icon/bigNext.svg") center center / cover no-repeat;
	}
	.firstSectionSliderPrev {
		transform: rotate(-180deg);
	}
	.firstSectionSliderPagination {
		bottom: 35px !important;
		.swiper-pagination-bullet {
			width: 10px;
			height: 10px;
			border: 1px solid #fff;
			background: none;
			opacity: 1;
			&.swiper-pagination-bullet-active {
				background: $mainBlue;
			}
	}

	}
	.scrollIcon {
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -10px;
		width: 16px;
		height: 32px;
		border-radius: 15px;
		border: 2px solid #fff;
		animation: scroll 1s infinite;
		.point {
			position: absolute;
			left: 7px;
			top: 5px;
			width: 2px;
			height: 3px;
			background: #c2bbbc;
		}
		.line {
			position: absolute;
			left: 7px;
			top: 12px;
			width: 2px;
			height: 12px;
			background: #c2bbbc;
		}
	}
	&.animate {
		.slide {
			img {
				transform: scale(1);
				opacity: 1;
			}
			.description {
				transform: translateY(0);
				opacity: 1;
			}
			.btn {
				transform: translateY(0);
				opacity: 1;
			}
		}
		.slideNav {
			opacity: 1;
		}
	}
}

.s2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.leftCol {
		width: 50%;
		background: url("../img/section_2_photo.jpg") center center / cover no-repeat;
		transform: translateX(-50%);
		opacity: 0;
		transition: all .8s ease-out;
	}
	.rightCol {
		width: 50%;
		box-sizing: border-box;
		padding: 45px 95px 160px;
		background: $lightBlue;
		font-family: "SegoeUIRegular", sans-serif;
		font-size: 16px;
		color: $darkFont;
		overflow: hidden;
		position: relative;
		transform: translateX(50%);
		opacity: 0;
		transition: all .8s ease-out;
		.name {
			font-family: "SegoeUIBold", sans-serif;
			font-size: 36px;
			position: relative;
			z-index: 1;
			padding-left: 15px;
			opacity: 0;
			transition: all .8s ease-out .8s;
			&:before {
				content: attr(data-shadowText);
				position: absolute;
				display: block;
				white-space: nowrap;
				font-size: 132px;
				color: $textShadowBlue;
				left: -105px;
				top: -94px;
				z-index: -1;
			}
			//text-shadow: -10px -10px 0 $textShadowBlue;
		}
		.status {
			padding: 15px 15px 35px 15px;
			opacity: 0;
			transition: all .8s ease-out 1s;
		}
		.description {
			text-align: justify;
			line-height: 24px;
			opacity: 0;
			transition: all .8s ease-out 1.2s;
		}
		.sign {
			width: 230px;
			height: 114px;
			position: absolute;
			bottom: 20px;
			left: 50%;
			margin-left: -115px;
			background: url("../img/section_2_sign.png") center center / cover no-repeat;
			opacity: 0;
			transition: all .8s ease-out 1.4s;
		}
	}
	&.animate {
		.leftCol, .rightCol, .name, .status, .description, .sign {
			transform: translate(0);
			opacity: 1;
		}
	}
}

.s3 {
	padding: 20px 15px;
	box-sizing: border-box;
	font-family: "SegoeUIRegular", sans-serif;
	color: $darkFont;
	.title {
		font-family: "SegoeUIBold", sans-serif;
		font-size: 36px;
		text-align: center;
	}
	.description {
		font-size: 16px;
		text-align: center;
		padding-top: 5px;
	}
	.serviceList {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		height: 85%;
		li {
			width: 25%;
			padding: 45px 15px 0 15px;
			box-sizing: border-box;
			.icon {
				margin: 0 auto 20px;
				width: 95px;
				height: 95px;
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
				transform: translateY(30px);
				opacity: 0;
				transition: all .5s ease-out;
			}
			.name {
				text-align: center;
				font-family: "SegoeUIBold", sans-serif;
				font-size: 18px;
				padding-bottom: 10px;
			}
			.text {
				text-align: justify;
				font-size: 14px;
				line-height: 22px;
			}
			&:nth-child(1) {
				.icon {
					background-image: url("../img/icon/brainstorm.png");
				}
			}
			&:nth-child(2) {
				.icon {
					background-image: url("../img/icon/prototype.png");
					transition-delay: .2s;
				}
			}
			&:nth-child(3) {
				.icon {
					background-image: url("../img/icon/design.png");
					transition-delay: .4s;
				}
			}
			&:nth-child(4) {
				.icon {
					background-image: url("../img/icon/coding.png");
					transition-delay: .6s;
				}
			}
			&:nth-child(5) {
				.icon {
					background-image: url("../img/icon/customizing.png");
					transition-delay: .8s;
				}
			}
			&:nth-child(6) {
				.icon {
					background-image: url("../img/icon/coffe.png");
					transition-delay: 1s;
				}
			}
			&:nth-child(7) {
				.icon {
					background-image: url("../img/icon/fast.png");
					transition-delay: 1.2s;
				}
			}
			&:nth-child(8) {
				.icon {
					background-image: url("../img/icon/photos.png");
					transition-delay: 1.4s;
				}
			}
		}
	}
	&.animate {
		.serviceList {
			li {
				.icon {
					transform: translateY(0);
					opacity: 1;
				}
			}
		}
	}
}

.s4 {
	background: url('../img/section_4_back.jpg') center center / cover no-repeat;
	box-sizing: border-box;
	padding: 30px 30px 40px;
	font-family: "SegoeUIRegular", sans-serif;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	transition: all .2s ease-out;
	opacity: 0;
	.title {
		font-family: "SegoeUIBold", sans-serif;
		font-size: 36px;
		text-align: center;
		opacity: 0;
		transition: all 1s ease-out .3s;
	}
	.description {
		font-size: 16px;
		text-align: center;
		line-height: 22px;
		padding-top: 5px;
		width: 500px;
		margin: 0 auto;
		color: $mainBlue;
		opacity: 0;
		transition: all 1s ease-out .3s;
	}
	.commentSlider {
		width: 100%;
		.slide {
			display: flex;
			justify-content: center;
			align-items: center;
			.slideWrapper {
				width: 740px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				.avatar {
					border-radius: 50%;
					border: 3px solid $mainBlue;
					margin-right: 25px;
					min-width: 260px;
					min-height: 260px;
					opacity: 0;
					transition: all 1s ease-out .3s;
					position: relative;
					z-index: 2;
				}
				.comment {
					opacity: 0;
					transform: translateX(-250px);
					transition: all .8s ease-out .8s;
					position: relative;
					z-index: 1;
					.name {
						font-family: "SegoeUIBold", sans-serif;
						font-size: 18px;
					}
					.profession {
						padding: 10px 0 16px;
						font-size: 14px;
					}
					.commentText {
						font-size: 16px;
						position: relative;
						line-height: 22px;
						padding-top: 18px;
						text-align: justify;
						&:before {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							height: 1px;
							width: 65px;
							background: #fff;
						}
					}
				}
			}
		}
	}
	.paginationBar {
		font-family: "SegoeUIBold", sans-serif;
		font-size: 16px;
		position: relative;
		padding: 10px 50px;
		span {
			color: $mainBlue;
		}
		.commentSliderPrev, .commentSliderNext {
			margin-top: -11px;
			width: 20px;
			height: 22px;
			background: url("../img/icon/bigNext.svg") center center / cover no-repeat;
			&:hover {
				background: url("../img/icon/bigNextBlue.svg") center center / cover no-repeat;
			}
		}
		.commentSliderPrev {
			left: 0;
			transform: rotate(-180deg);
		}
		.commentSliderNext {
			right: 0;
		}
	}
	&.animate {
		opacity: 1;
		.title, .description, .avatar, .comment {
			transform: translate(0) !important;
			opacity: 1 !important;
		}
	}
}

.s5 {
	background: #fff;
	min-height: unset;
	padding: 30px;
	box-sizing: border-box;
	color: $darkFont;
	.title {
		font-family: "SegoeUIBold", sans-serif;
		font-size: 36px;
		text-align: center;
	}
	.description {
		font-family: "SegoeUIRegular", sans-serif;
		font-size: 16px;
		text-align: center;
		line-height: 22px;
		padding-top: 5px;
		width: 500px;
		margin: 0 auto;
	}
}

.s6 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	.leftCol {
		width: 50%;
		background: url("../img/section_6_photo_1.jpg") center center / cover no-repeat;
		opacity: 0;
		transition: all .8s ease-out;
	}
	.rightCol {
		width: 50%;
		box-sizing: border-box;
		font-family: "SegoeUIRegular", sans-serif;
		font-size: 16px;
		color: $darkFont;
		position: relative;
		.descriptionWrapper {
			background: $lightBlue;
			opacity: 0;
			transition: all .8s ease-out .3s;
			&.first {
				height: 30%;
			}
		}
		.description {
			height: 100%;
			width: 100%;
			padding: 25px 25px 25px 100px;
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			z-index: 1;
			opacity: 0;
			transition: all .8s ease-out .6s;
			.btnBox {
				position: absolute;
				top: 50%;
				left: 0;
				margin-left: -55px;
				margin-top: -55px;
				opacity: 0;
				transition: all .8s ease-out .9s;
			}
			.name {
				font-family: "SegoeUIBold", sans-serif;
				font-size: 18px;
			}
			.text {
				line-height: 22px;
			}
			.price {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: flex-end;
				.only {
					font-family: "SegoeUIBold", sans-serif;
					font-size: 18px;
					.sum {
						font-size: 32px;
						color: $darkBlueFont;
					}
				}
				.view {
					color: $darkBlueFont;
					text-decoration: none;
				}
			}
			&.second {
				padding: 20px 50px 15px 15px;
				.name {
					padding-left: 20px;
				}
				.btnBox {
					left: auto;
					right: 0;
					margin-left: 0;
					margin-right: -40px;
					margin-top: -40px;
				}
				.price {
					padding-left: 10px;
					.view {
						width: 100%;
						padding-top: 15px;
					}
				}
			}
			&.third {
				padding: 25px 15px 15px 50px;
				.name {
					padding-left: 20px;
				}
				.btnBox {
					margin-left: -40px;
					margin-top: -40px;
				}
				.price {
					padding-left: 10px;
					.view {
						width: 100%;
						padding-top: 15px;
					}
				}
			}
		}
		.prodBox {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			height: 35%;
			.descriptionWrapper, .description {
				.description {
					width: 100%;
				}
				width: 50%;
			}
			.photo {
				width: 50%;
				opacity: 0;
				transition: all .8s ease-out;
			}
			&.prodSecond {
				.photo {
					background: url("../img/section_6_photo_2.jpg") center center / cover no-repeat;
				}
			}
			&.prodThird {
				.photo {
					background: url("../img/section_6_photo_3.jpg") center center / cover no-repeat;
				}
			}
		}
	}
	&.animate {
		.leftCol, .descriptionWrapper, .photo, .description, .btnBox {
			transform: translate(0) !important;
			opacity: 1 !important;
		}
	}
}

.s7 {
	min-height: unset;
	padding: 50px 10px;
	display: flex;
	justify-content: center;
	height: auto;
}

.s8 {
	box-sizing: border-box;
	padding: 20px 15px;
	font-family: "SegoeUIRegular", sans-serif;
	color: $darkFont;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	.title {
		font-family: "SegoeUIBold", sans-serif;
		font-size: 36px;
		text-align: center;
		opacity: 0;
		transition: all .5s ease-out .3s;
	}
	.description {
		font-size: 16px;
		text-align: center;
		line-height: 22px;
		padding-top: 5px;
		width: 500px;
		margin: 0 auto;
		opacity: 0;
		transition: all .5s ease-out .3s;
	}
	.teamSlider {
		width: 100%;
		.slide {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;
			.person {
				width: 25%;
				box-sizing: border-box;
				padding: 40px 15px 0;
				.avatar {
					height: 45vh;
					width: 100%;
					border-radius: 500px;
					opacity: 0;
					transform: scale(.5);
					transition: all .3s ease-out;
				}
				.info {
					padding: 20px 15px;
					opacity: 0;
					transform: translateY(-50px);
					transition: all .3s ease-out;
					.name {
						font-family: "SegoeUIBold", sans-serif;
						font-size: 24px;
						padding-bottom: 15px;
					}
					.profession {
						color: $mainBlue;
						font-size: 16px;
						padding-bottom: 15px;
					}
					.tel {
						padding-bottom: 10px;
					}
					.mail {
						padding-bottom: 20px;
					}
					.links {
						display: flex;
						flex-direction: row;
						a {
							width: 18px;
							height: 18px;
							display: block;
							margin-right: 10px;
							background-position: center center;
							background-size: cover;
							background-repeat: no-repeat;
						}
						.ig	{
							background-image: url("../img/icon/igGray.svg");
						}
						.fb	{
							background-image: url("../img/icon/fbGray.svg");
						}
						.in	{
							background-image: url("../img/icon/inGray.svg");
						}
					}
				}
				&:nth-child(1) {
					.avatar	{
						transition-delay: .3s;
						background: url("../img/avatar1.jpg") center center / cover no-repeat;
					}
					.info {
						transition-delay: .5s;
					}
				}
				&:nth-child(2) {
					.avatar	{
						transition-delay: .5s;
						background: url("../img/avatar2.jpg") center center / cover no-repeat;
					}
					.info {
						transition-delay: .7s;
					}
				}
				&:nth-child(3) {
					.avatar	{
						transition-delay: .7s;
						background: url("../img/avatar3.jpg") center center / cover no-repeat;
					}
					.info {
						transition-delay: .9s;
					}
				}
				&:nth-child(4) {
					.avatar	{
						transition-delay: .9s;
						background: url("../img/avatar4.jpg") center center / cover no-repeat;
					}
					.info {
						transition-delay: 1.2s;
					}
				}
			}

		}
	}
	.paginationBar {
		height: 20px;
		width: 100px;
		position: relative;
		.teamSliderPagination {
			position: static;
			.swiper-pagination-bullet {
				width: 10px;
				height: 10px;
				background: #fff;
				border: 1px solid $darkFont;
				opacity: 1;
				margin: 5px;
			}
			.swiper-pagination-bullet-active {
				background: $mainBlue;
			}
		}
	}
	&.animate {
		.title, .description, .avatar, .info {
			border-radius: 0 !important;
			transform: translate(0) !important;
			opacity: 1 !important;
		}
	}
}

.s9 {
	background: url('../img/section_9_back.jpg') center center / cover no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 50px 10%;
	color: #fff;
	font-family: "SegoeUIRegular", sans-serif;
	font-size: 16px;
	.title {
		font-family: "SegoeUIBold", sans-serif;
		font-size: 36px;
		text-align: center;
		opacity: 0;
		transition: all .8s ease-out;
	}
	.description {
		text-align: center;
		line-height: 22px;
		padding-top: 5px;
		width: 500px;
		margin: 0 auto;
		opacity: 0;
		transition: all .8s ease-out;
	}
	.priceTable {
		width: 100%;
		opacity: 0;
		transition: all .5s ease-out .3s;
		.row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			.cell {
				height: 100%;
				text-align: center;
				margin: 0 15px;
				width: 20%;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				justify-content: center;
				&:first-child {
					justify-content: flex-start;
					text-align: left;
					width: 40%;
				}
				span {
					display: block;
					position: relative;
					opacity: 0;
				}
				.btn {
					padding: 0;
					height: 75px;
					width: 75px;
					line-height: 75px;
					margin: 0 auto;
				}
				.transparent {
					height: 50px;
					line-height: 48px;
					margin-top: 25px;
					transition: all .2s linear;
					text-transform: uppercase;
					padding: 0 20px;
					width: 100px;
					&:hover {
						background: $mainBlue;
						border-color: $mainBlue;
					}
				}
				.selected {
					&:before {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 20px;
						height: 20px;
						background: url("../img/icon/close.svg") center center / cover no-repeat;
					}
				}
				.point {
					&:before {
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 6px;
						height: 6px;
						background: #808080;
						border-radius: 50%;
					}
				}
			}
		}
		.row:first-child {
			height: 75px;
			.cell {
				span {
					line-height: 75px;
					font-size: 24px;
					font-family: "SegoeUIBold", sans-serif;
				}
			}
		}
		.row:nth-child(2) {
			height: 65px;
			.cell {
				span {
					line-height: 75px;
					font-size: 36px;
					font-family: "SegoeUIBold", sans-serif;
				}
				.currency {
					display: inline-block;
					margin-right: 5px;
					font-size: 16px;
				}
			}
		}
		.row:not(.noLine) {
			.cell {
				padding: 0 10px;
				border-bottom: 1px solid rgba(#fff, .5);
			}
		}

	}
	@for $i from 1 through 8 {
		.row:nth-child(#{$i}) {
			.cell {
				span:not(.btn) {
					transition: all .3s ease-out .2s * $i;
				}
			}
		}
	}
	&.animate {
		.title, .description, .priceTable, span {
			transform: translate(0) !important;
			opacity: 1 !important;
		}
	}
}

.s10 {
	box-sizing: border-box;
	padding: 20px 15px;
	font-family: "SegoeUIRegular", sans-serif;
	color: $darkFont;
	font-size: 16px;
	.title {
		font-family: "SegoeUIBold", sans-serif;
		font-size: 36px;
		text-align: center;
		opacity: 0;
		transition: all .5s ease-out .3s;
	}
	.description {
		font-size: 16px;
		text-align: center;
		line-height: 22px;
		padding-top: 5px;
		width: 500px;
		margin: 0 auto;
		opacity: 0;
		transition: all .5s ease-out .3s;
	}
	.lastNews {
		display: flex;
		flex-direction: row;
		justify-content: center;
		.new {
			width: calc(100% / 3 - 30px);
			margin: 15px;
			box-sizing: border-box;
			box-shadow: 0 0 30px 3px rgba(#000, .25);
			transform: translateX(100px);
			opacity: 0;
			transition: all .8s ease-out;
			.poster {
				height: 250px;
				width: 100%;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			&:nth-child(1) {
				transition-delay: .3s;
				.poster {
					background-image: url("../img/new1.jpg");
				}
			}
			&:nth-child(2) {
				transition-delay: .5s;
				.poster {
					background-image: url("../img/new2.jpg");
				}
			}
			&:nth-child(3) {
				transition-delay: .7s;
				.poster {
					background-image: url("../img/new3.jpg");
				}
			}
			.info {
				.author {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					font-size: 14px;
					padding: 10px;
				}
				.hash {
					padding: 0 10px 10px 10px;
					border-bottom: 1px solid #ccc;
					a {
						color: $mainBlue;
						text-decoration: none;
					}
				}
			}
			.title {
				font-size: 24px;
				text-align: left;
				padding: 15px;
			}
			.description {
				width: auto;
				text-align: left;
				padding: 0 15px 15px 15px;
			}
			.controls {
				padding: 10px 25px 25px 25px;
				display: flex;
				justify-content: flex-start;
			}
		}
	}
	.btnContainer {
		padding: 25px 10px 40px 10px;
		display: flex;
		justify-content: center;
		transform: translateY(50px);
		opacity: 0;
		transition: all .8s ease-out .9s;
	}
	&.animate {
		.title, .description, .new, .btnContainer{
			transform: translate(0) !important;
			opacity: 1 !important;
		}
	}
}

.s11 {
	min-height: unset;
	box-sizing: border-box;
	padding: 50px 20px 15px;
	font-family: "SegoeUIRegular", sans-serif;
	color: $darkFont;
	font-size: 16px;
	background: url('../img/section_11_back.jpg') center center / cover no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	.title {
		font-family: "SegoeUIBold", sans-serif;
		font-size: 36px;
		text-align: center;
		opacity: 0;
		transition: all .5s ease-out .3s;
	}
	.description {
		font-size: 16px;
		text-align: center;
		line-height: 22px;
		padding-top: 5px;
		margin: 0 auto;
		opacity: 0;
		transition: all .5s ease-out .3s;
	}
	.writeUs {
		padding: 32px 10%;
		width: 100%;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		flex-direction: column;
		.formWrap {
			width: 100%;
			height: 210px;
			display: flex;
			flex-direction: row;
			justify-content: center;
		}
		.leftCol {
			padding: 7px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			box-sizing: border-box;
			width: 50%;
			.inputBox {
				transform: translateX(-50px);
				opacity: 0;
				transition: all .5s ease-out .5s;
				&:nth-child(2) {
					transition-delay: .7s;
				}
				&:nth-child(3) {
					transition-delay: .9s;
				}
			}
		}
		.rightCol {
			padding: 7px;
			box-sizing: border-box;
			width: 50%;
			.inputBox {
				height: 100%;
				transform: translateX(50px);
				opacity: 0;
				transition: all .5s ease-out .5s;
				textarea {
					height: 100%;
				}
			}
		}
		.inputBox {
			width: 100%;
		}
		input, textarea {
			width: 100%;
			box-sizing: border-box;
			font-family: "SegoeUIRegular", sans-serif;
			font-size: 18px;
			padding: 12px 18px;
			background: transparent;
			border: 1px solid $darkFont;
			outline: none;
			resize: none;
			&::-webkit-input-placeholder {color: $darkFont;}
			&::-moz-placeholder          {color: $darkFont;}
			&:-moz-placeholder           {color: $darkFont;}
			&:-ms-input-placeholder      {color: $darkFont;}
		}
	}
	.btn {
		background: $darkFont;
		transition: all .2s linear;
		padding: 0 100px;
		margin: 50px 25px 0;
		opacity: 0;
		transform: translateY(100px);
		&:hover {
			background: $mainBlue;
		}
	}
	&.animate {
		.title, .description, .inputBox, .btn{
			transform: translate(0) !important;
			opacity: 1 !important;
		}
	}
}

.s12 {
	font-family: "SegoeUIRegular", sans-serif;
	color: #fff;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: calc(100vh - 75px);
	.contacts {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background: url('../img/section_12_back.jpg') center center / cover no-repeat;
		padding: 60px 10px 55px;
		box-sizing: border-box;
		transform: translateX(-50%);
		opacity: 0;
		transition: all .5s ease-out;
		.title {
			font-family: "SegoeUIBold", sans-serif;
			font-size: 36px;
			text-align: center;
		}
		.description {
			font-size: 16px;
			text-align: center;
			line-height: 22px;
			padding-top: 5px;
			margin: 0 auto;
		}
		.phones {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 45px 0 10px;
			position: relative;
			.tel {
				padding-bottom: 20px;
				color: #fff;
				text-decoration: none;
				&:hover {
					color: $mainBlue;
				}
			}
			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 50%;
				margin-left: -10px;
				width: 20px;
				height: 20px;
				background: url("../img/icon/tel.svg") center center / cover no-repeat;
			}
		}
		.mail {
			padding: 45px 0 10px;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 50%;
				margin-left: -10px;
				width: 20px;
				height: 20px;
				background: url("../img/icon/letter.svg") center center / cover no-repeat;
			}
		}
		.address {
			text-align: center;
			width: 200px;
			line-height: 24px;
			padding: 45px 0 20px;
			border-bottom: 1px solid #fff;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 50%;
				margin-left: -10px;
				width: 20px;
				height: 20px;
				background: url("../img/icon/location.svg") center center / cover no-repeat;
			}
		}
		.links {
			display: flex;
			flex-direction: row;
			align-items: center;
			a {
				width: 22px;
				height: 22px;
				display: block;
				margin: 0 6px;
			}
			.ig {
				background: url("../img/icon/ig.svg") center center / cover no-repeat;
			}
			.tw {
				background: url("../img/icon/tw.svg") center center / cover no-repeat;
			}
			.be {
				width: 28px;
				height: 28px;
				background: url("../img/icon/be.svg") center center / cover no-repeat;
			}
			.fb {
				background: url("../img/icon/fb.svg") center center / cover no-repeat;
			}
		}
	}
	.map {
		height: 100%;
		width: 50%;
		transform: translateX(50%);
		opacity: 0;
		transition: all .5s ease-out;
	}
	&.animate {
		.contacts, .map {
			transform: translate(0) !important;
			opacity: 1 !important;
		}
	}
}